.btn {
  margin-right: 5px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched  {
  border: 1px solid #f44336;
}

input.ng-invalid.ng-touched:focus,
textarea.ng-invalid.ng-touched:focus {
  box-shadow: 0 0 8px rgba(244, 67, 54, 0.5);
}

.my-2{
    margin-bottom: 10px;
}